@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.img-bg {
  font-family: 'Alfa Slab One', cursive;
}

.logo {
  position: absolute;
  height: 200px !important;
}
